<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script src="/js/home.js" defer></script>
</head>
<body>
	<section class="git-content" layout:fragment="corpo">

			<img alt="Foto Github" class="git_img" id="img_git">
			<div class="git">
				<input type="text" class="git_input" id="input_git" placeholder="Informe seu GitHub"
					autofocus="autofocus" />
					<button name="pesquisar" id="git_click">Pesquisar</button>
				
			</div>

	</section>
</body>
</html>